<h2>Log-In</h2>

<a href="/api/sessions/github">Login with GitHub</a>

<form action="/api/sessions/login" method="POST">

    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

<a href="/register">Register</a>
<a href="/resetpassform">Reset Password</a>