<h2>Register</h2>

<form action="/api/sessions/register" method="POST">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="email" name="email" placeholder="Email">
    <input type="number" name="age" placeholder="Age">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
</form>