<h3>Fill the blanks to reset your password</h3>

<form action="http://localhost:8080/api/sessions/recoverpassword?token={{token}}" method="POST">

    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password">
    <input type="submit" value="Reset Password">
</form>
