<h1>Your Cart!!</h1>
<hr>

<div id="user-cart">

</div>

<br>

<div>
    <h3 id="total-cart"></h3>
</div>

<div id="buttons">
    <button id="finish-button">Finish Purchase</button>
    <button id="clean-button">Clean Cart</button>
</div>

<script src="js/userCart.js"></script>